@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", serif; */
*{
    margin: 0;
    padding: 0;
}
/* sheared style */
.dark-2{
    color: #424242;
}
.dark-3{
    color:#727272;
}

body{
     font-family: "Work Sans", serif;
     color: #131313;
     
}
.header{
    width: 100vw;
    background-color: #ff8f0e11;
}
.navigation {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    align-items: center;
}
.link-container{
    display: flex;
}
.link{
    list-style: none;
    margin-right: 30px;
}
.link a{
    text-decoration: none;
   font-size: 1.12rem;
   color: #424242;
}
.brand{
    font-size: 2.8rem;
    font-weight: bold;
}
.banner{
    text-align: center;
    margin: 100px auto 45px;
    width: 90vw;
    
    

}
.banner-content{
    width: 840px;
    margin: auto;
}
.banner-title{
 font-size: 4rem;
 font-weight: bold;
 margin-bottom: 15px;
}
.primary-btn{
    color: white;
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 50px;
    border: none;
    cursor: pointer;
}
.primary-btn:hover{
    background-color:rgb(207, 114, 0);
}
.banner img{
     width: 100%;
}

@media screen and (max-width:576px) {
    .navigation {
        flex-direction: column;
    }
    .link-container{
        flex-direction: column;
        text-align: center;
        gap: 10px;
        margin-top: 30px;
    }
    .banner-content{
        width: 90vw;
    }
    .banner-title{
        font-size: 3.5rem;
    }
    .banner{
        margin-top: 50px;
    }
    .brand{
        font-size: 2.5rem;
    }
}
@media screen and (min-width:576px) and (max-width:990px){
    .navigation{
        flex-direction: column;
    }
    .banner-content{
        width: 90vw;
    }
    .link-container{
    margin-top: 20px;
    }
}

/* header section complete */

/* main section start from here */
main{
    width: 75vw;
    margin: 80px auto 0px;
    /* border: 1px solid black; */
}

.quick-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width: 100%;
    margin-bottom: 130px;
}
.quick-list-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    
   
}
.quick-list-img img{
    width: 100%;
}
.list-title{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 24px;
}
#quick{
 font-weight: 500;
}
#feature{
    color: #FF900E;
}
.quick-list-content{
    width: 530px;
}
.list-description{
    line-height: 26px;
}

@media screen and (max-width:576px){
    .quick-list-container{
        flex-direction: column;
    }
    .quick-list-img{
        grid-template-columns: repeat(1,1fr);
    }
    .quick-list-content{
        width: 90vw;
    }

}
@media screen and (min-width:576px) and (max-width:990px){
    .quick-list-container{
        flex-direction: column;
    }
    .quick-list-content{
        width: 75vw;
    }
}

/* quick list section complete */

/* feature section start from here */

.sec-2-container{
    display: flex;
    gap: 75px;
    align-items: center;
    justify-content: center
}
.feature-content{
    width: 540px;
   
}
.feature-title{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 24px;
    padding-left: 26px;
    width: 480px;
}
.feature-description{
    margin-bottom: 30px;
}
.feature-card{
    margin-bottom: 20px;
    /* border: 1px solid black; */
    padding: 30px 40px 30px 30px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.227);
    border-radius:8px ;
}
.card-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.card-description{
    line-height: 26px;
    font-size: 1rem;
}
.feature-img img{
    width: 100%;
}
.experience{
    width: 200px;
    
    background-color: #FF900E;
    padding: 35px 32px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin-left: -50px;
    margin-top: -130px;
    position: relative;
    border-radius: 16px;
}
.year{
    font-size: 3rem;
    font-weight: bold;
}

@media screen and (max-width:576px){
    .sec-2-container{
        flex-direction: column;
    }
    .feature-content{
        width: 90vw;
    }
    .experience{
        display: none;
    }
    .feature-title{
        width: 70vw;
        padding-left: 10px;
    }
}
@media screen and (min-width:576px) and (max-width:990px){
    .sec-2-container{
        flex-direction: column;
    }
    .feature-content{
        width: 75vw;
    }
}
/* feature section complete */

/* fact section start from here */

.facts{
    margin-top: 90px;
    margin-bottom: 180px;

}
.fact-title{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 24px;

}
.fact-description{
    line-height: 26px;
    width: 540px;
}
.fact-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 110px;
    margin-top: 100px;
    text-align: center;
}
.fact-card{
    border: 1px solid #FF900E;
    padding: 45px 35px 60px;
}
.fact-card-title{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom:10px;
}
.fact-card-description{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
}
@media screen and (max-width:576px){
    .fact-card-container{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
    }
    .fact-description{
        width: 80vw;
    }    
}
@media screen and (min-width:576px) and (max-width:990px){
    .fact-card-container{
        grid-template-columns: repeat(2, 1fr);
        margin-top: 70px;
    }
}

/* fact section complete */

/* sponsor section start from here */

